body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1037%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(238%2c 243%2c 192%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c390.929C90.347%2c389.778%2c178.646%2c439.359%2c264.74%2c411.944C362.21%2c380.907%2c464.002%2c324.328%2c504.35%2c230.329C544.595%2c136.569%2c501.168%2c29.684%2c470.605%2c-67.663C443.929%2c-152.629%2c407.472%2c-236.597%2c339.637%2c-294.297C276.592%2c-347.923%2c185.933%2c-341.632%2c109.945%2c-374.438C19.576%2c-413.453%2c-51.978%2c-525.375%2c-148.264%2c-504.939C-243.039%2c-484.824%2c-272.706%2c-363.28%2c-325.474%2c-282.025C-370.957%2c-211.988%2c-408.685%2c-141.701%2c-435.515%2c-62.618C-467.973%2c33.053%2c-531.377%2c132.115%2c-498.37%2c227.598C-465.19%2c323.579%2c-365.616%2c387.12%2c-269.112%2c418.747C-181.644%2c447.413%2c-92.039%2c392.102%2c0%2c390.929' fill='%23e6eda3'%3e%3c/path%3e%3cpath d='M1440 925.483C1507.241 926.367 1548.828 853.053 1608.866 822.761 1678.54 787.607 1788.863 805.104 1820.223 733.642 1851.731 661.842 1770.92 589.778 1743.313 516.39 1722.347 460.655 1706.6399999999999 406.139 1677.492 354.212 1641.33 289.79 1619.007 208.921 1552.577 176.59699999999998 1484.409 143.42700000000002 1403.729 167.80399999999997 1329.915 185.08499999999998 1252.414 203.22899999999998 1154.864 209.666 1115.594 278.901 1075.374 349.81100000000004 1152.378 436.291 1141.6 517.097 1131.005 596.532 1022.39 662.626 1054.626 735.995 1086.69 808.9739999999999 1202.431 783.185 1273.963 818.358 1334.292 848.0219999999999 1372.779 924.5989999999999 1440 925.483' fill='%23f6f9dd'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1037'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

h1 {
    color: #285430;
}

img {
    width: 400px;
}
#thirdDiv {
    background-color: #a4be7b;
    padding: 50px;
    border: 6px solid #e5d9b6;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}
